body{
    background-color: rgb(118, 118, 255);
    font-family: sans-serif;
}

h1{
    text-align: center;
    color:white;
}

.conteiner{
    background-color: white;
    border-radius: 10px;
    width: 50%;
    height: 280px;
    margin:auto;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.308);
    box-sizing: border-box;
}


footer{
    color:white;
    text-align: center;
    margin-top: 15px;

}

div{
    display:flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    padding-bottom: 10px;
    padding-top: 10px;


}

#resultado{
    padding: 10px;
    border: 1px solid black;
    height: 100px;
    overflow: scroll;

}

input, label{
    margin-bottom: 10px;
}






